apiVersion: harness.io/v1
kind: Workflow
type: service
identifier: configureInfraV1
name: configure-Infra-V1
owner: group:account/_account_all_users
spec:
  output:
    links:
    - title: Pipeline Details
      url: ${{ steps.trigger.output.PipelineUrl }}
  lifecycle: staging
  parameters:
  - title: Configure Infrastructure For Dev Teams
    required:
    - env_name
    - cloud_type
    properties:
      token:
        title: Harness Token
        type: string
        ui:widget: password
        ui:field: HarnessAuthToken
      env_name:
        title: Environment Name
        type: string
        description: Select the target Environment
        enum:
        - dev
        - qa
        - staging
        - prod
        enumNames:
        - Development
        - Quality
        - Staging
        - Production
      cloud_type:
        title: Cloud Provider
        type: string
        description: Select the target Cloud Provider
        enum:
        - AWS
        - Azure
        enumNames:
        - Amazon Web Services
        - Azure Cloud Services
  steps:
  - id: trigger
    name: Configuring your Infrastructure
    action: trigger:harness-custom-pipeline
    input:
      url:
      - Harness Pipeline URL
      inputset:
        env_name: ${{ parameters.env_name }}
        cloud_type: ${{ parameters.cloud_type}}
      apikey: ${{ parameters.token }}
metadata:
  description: the purpose of this workflow is to set up Infra for Onboarding Users
  tags:
  - AWS
  - AZURE
