apiVersion: harness.io/v1
kind: Workflow
type: service
identifier: configureInfraV1
name: configure-Infra-V1
owner: group:account/_account_all_users
spec:
  output:
    links:
    - title: Pipeline Details
      url: ${{ steps.trigger.output.PipelineUrl }}
  parameters:
  - title: Configure Infrastructure V1
    required:
    - env_type
    - cloud_type
    properties:
      token:
        title: Harness Token
        type: string
        ui:widget: password
        ui:field: HarnessAuthToken
      env_type:
        title: Environment Type
        type: string
        description: Choose the environment type from the dropdown
        enum:
        - Dev
        - QA
        - Staging
        - Prod
      cloud_type:
        title: Cloud Provider
        type: string
        description: Choose the cloud provider from the drop down
        enum:
        - AWS
        - Azure
    dependencies:
      cloud_type:
        oneOf:
        - properties:
            cloud_type:
              const: AWS
            service:
              title: AWS Service
              type: array
              description: Select one or more AWS Service
              items:
                type: string
                enum:
                - ec2
                - eks
                - s3
              uniqueItems: true
              minItems: 1
              ui:widget: checkboxes
          required:
          - service
        - properties:
            cloud_type:
              const: Azure
            service:
              title: Azure Service
              type: array
              description: Select one or more Azure Services
              items:
                type: string
                enum:
                - vm
                - aks
                - blob
              uniqueItems: true
              minItems: 1
              ui:widget: checkboxes
          required:
          - service
  steps:
  - id: trigger_nonprod_environment
    name: Configure_non_prod_environment
    if: ${{ parameters.env_type == "Dev"} || { parameters.env_type == "QA"} || { parameters.env_type
      == "Staging"}}
    action: trigger:harness-custom-pipeline
    input:
      url: https://app.harness.io/ng/account/SxuV0ChbRqWGSYClFlMQMQ/all/orgs/default/projects/default_project/pipelines/configureinfrastructurenonProd/pipeline-studio/?storeType=INLINE
      inputset:
        env_type: ${{ parameters.env_type }}
        cloud_type: ${{ parameters.cloud_type }}
      apikey: ${{ parameters.token }}
  - id: trigger_prod_environment
    name: Configure_prod_environment
    if: ${{ parameters.env_type == "Prod"}}
    action: trigger:harness-custom-pipeline
    input:
      url: https://app.harness.io/ng/account/SxuV0ChbRqWGSYClFlMQMQ/all/orgs/default/projects/default_project/pipelines/configure_prod_infra/pipeline-studio/?storeType=INLINE
      inputset:
        env_type: ${{ parameters.env_type }}
        cloud_type: ${{ parameters.cloud_type }}
      apikey: ${{ parameters.token }}
